<!DOCTYPE html>
<html>
  <head>
    <title>Info Page</title>
  </head>
  <!-- <body>
    <h1>The color of Roses</h1>
    <p>Roses are red.</p>
    <p>or so they tell me.</p>
    <p>Violets are blue.</p>
    <p>and I'm just supposed to believe whatever they've said.</p> -->
    <p>This is the info page:</p>
  </body>
</html>
